html,
body,
.wrap {
	width: 100%;
	/*padding-bottom: 2.6rem;*/
}

.home-header {
	position: relative;
	width: 100%;
	height: 2.32rem;
	/*background:#0f0;*/
	text-align: center;
	box-shadow: 0 1px 0 0 #dbdbdb;
}

.home-header a:nth-child(1) {
	display: block;
	float: left;
	margin-left: 13.88%;
	width: 36.11%;
	height: 100%;
	font-size: 1.35rem;
	color: #3a3a3a;
	line-height: 2.32rem;
	box-shadow: 1px 0 #858383;
}

.home-header a:nth-child(2) {
	display: block;
	float: right;
	line-height: 2.32rem;
	margin-right: 13.88%;
	width: 36.11%;
	height: 100%;
	font-size: 1.35rem;
	color: #3a3a3a;
}
body .home-header .header-select {
	color: #138bf0;
}
.home-header em {
	position: absolute;
	bottom: 0;
	left: 22.22%;
	height: 0.14rem;
	width: 19.58%;
	background: #5fb5fd;
}

.home-header .search {
	display: block;
	position: absolute;
	right: 4.02%;
	top: 0.53rem;
	width: 5.55%;
	height: 1.39rem;
	background: url(../images/search.png) center no-repeat;
	background-size: 100% 100%;
}
/* 导航 */
.home-nav {
	width: 100%;

}

.home-nav .list {
	width: 100%;
	height: 1.75rem;
}

.home-nav .list span{
	display: block;
	float: left;
	width: 20%;
	height: 100%;
	line-height: 1.75rem;
	text-align: center;
	font-size: 0.85rem;
	color: #fff;
	background: #92cefc;
}
.home-nav .list .list-select {
	background: #bfe2fd;
	font-size: 1.14rem;
}

.home-nav .bigpic {
	display: none;
	position: relative;
	width: 100%;
	height: 13.64rem;
}
.bigpic  img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
}
.bigpic  span {
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 2.57rem;
	text-align: center;
	line-height: 2.57rem;
	color: #fff;
	font-size: 1.07rem;
	background: rgba(48,48,48,0.6);
}

.home-main {
	background: #eee;
	padding-bottom: 3.1rem;
}
.info {
	visibility: hidden;
	width: 100%;
	height: 0.83rem;
}

.home-main .show {
	padding: 0.19rem 3.19%;
}

.show .show-left {
	float: left;
	width: 8.47%;

}

.show .show-right {
	float: right;
	/*width: 82.08%;
	height: 9.92rem;*/
	width: 81.25%;
	height: 8.53rem;
	border-radius: 0.08rem;
	box-shadow: 0 0 0 1px #b2b2b2;
	padding: 0.57rem 0.83% 0.82rem;
}
/*.test {
	width: 20px;
	height: 60px;
	background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
	background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,1));
}*/

.show-left .heart {
	display: block;
	background: #b8b8b8;
	width: 100%;
	height: 1.50rem;
	padding-top: 0.67rem;
	/*padding: 0.52rem 25% 0.33rem;*/
	border-radius: 50%;
}

.show-left .heart img {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 1.07rem;
	
}

.show-left strong  {
	display: block;
	position: relative;
	text-align: center;
	font-size: 0.64rem;
	color: #b8b8b8;
}
.show-left strong::after {
	content: "";
	display: block;
	width: 1px;
	height: 4.14rem;
	margin: 0 auto 0.28rem;
		background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,0),rgba(103,98,98,1));
	background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(103,98,98,1));
}
.show-left .comment {
	display: block;
	background: #b8b8b8;
	width: 100%;
	height: 1.42rem; 
	padding-top: 0.75rem;
	/*padding: 0.52rem 25% 0.33rem;*/
	border-radius: 50%;
}
.show-left .comment img {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 0.96rem;
}
.show-left em {
	display: block;
	position: relative;
	text-align: center;
	font-size: 0.64rem;
	color: #b8b8b8;
}
.show-left em::after {
	content: "";
	display: block;
	width: 1px;
	height: 0.85rem;
	margin: 0 auto 0.28rem;
	background-image: -webkit-linear-gradient(to bottom,rgba(255,255,255,0),rgba(103,98,98,1));
	background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(103,98,98,1));
}
.show:last-child .show-left  em::after {
	display: none;
}
.show-right h2 {
	font-size: 1.07rem;
	margin-bottom: 1.03rem;
	color: #464646;
}
.show-right img {
	display: block;
	float: left;
	width: 31.64%;
	height: 6.42rem;
	margin-right: 1.5%;
}
.show-right img:last-child {
	margin-right: 0;
}
.bottom-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.68rem;
	padding-top:0.42rem;
	background: #fff;
	z-index: 3;
}
.bottom-nav a {
	display: block;
	float: left;
	width: 7.9%;
	height: 100%;
	margin: 0 6.94%;
	text-align: center;
	
}
.bottom-nav a img {
	display: block;
	margin: 0 auto 0.25rem;
	width: 61.4%;
	height: 1.42rem;
	
}
.bottom-nav a span {
	display: block;
	font-size: 1rem;
	color: #373737;
	line-height: 1rem;
	text-align: center;
}
.bottom-nav .write {
	position: relative;
	top: -1.89rem;
	right: 0;
	left: 0;
	margin: 0 auto;	
	width: 10.5%;
	height: 2.21rem;
	padding-top: 0.5rem; 
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 1px #4e4e4e;
	-moz-box-shadow: 0 0 1px #4e4e4e;
	box-shadow: 0 0 1px #4e4e4e;
}
.bottom-nav .writer img {
	width: 57.89%;
	height: 1.57rem;
	margin: 0 auto;
}
.bottom-nav .user img {
	width: 52.63%;
	height: 1.17rem;
	margin-bottom: 0.5rem;
}

#headerinfo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 17.75rem;
	text-align: center;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 17.75rem;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: auto;
}

#scroller {
	position: relative;
	/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	float: left;
	width: 100%;
	padding-bottom: 2.68rem;
}

#scroller ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}


/**
 *
 * 下拉样式 Pull down styles
 *
 */

#pullDown {
	height: 1.3rem;
	text-align: center;
}

#pullDown.loading .pullDownIcon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg) translateZ(0);
	}
	to {
		-webkit-transform: rotate(360deg) translateZ(0);
	}
}